@{
    ViewData["Title"] = "Dashboard";
}

<div class="container mt-5">
    <h2>Yönetim Paneli</h2>

    <a href="/Product/MyProducts" class="btn btn-primary m-2" target="_blank">Ürünlerim</a>
    <a href="/Category/MyCategory" class="btn btn-success m-2" target="_blank">Kategoriler</a>
</div>
